numpy~=2.3.4
scipy~=1.16.3
regex~=2025.10.23
pandas~=2.3.3
pillow~=12.0.0
pyarrow~=21.0.0
scikit-learn~=1.7.2
hf-xet~=1.2.0
huggingface-hub~=0.36.0
datasets~=4.3.0
protobuf~=6.33.0
sentencepiece~=0.2.1
tokenizers~=0.22.1
torch~=2.9.0
transformers==4.57.1
simpletransformers==0.70.5
wandb==0.22.3
seqeval==1.2.2
pydantic==2.12.3
pydantic-core==2.41.4
pyyaml==6.0.3
umap_learn==0.5.9.post2
bertviz==1.4.1
matplotlib==3.10.7
seaborn==0.13.2
jupyter
ipykernel
ipywidgets
